*{
    padding: 0;
    margin: 0;
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: 150;
    font-style: normal;
}

header{
    display: grid;
}

.header-izquierda{
    columns:auto;
}
.header-centro{

}

.header-derecha{

}

footer{
    
}